<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Main cib file base name</key>
	<string>MainMenu.cib</string>
	<key>CPBundleName</key>
	<string>CappDoc</string>
	<key>CPBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CPDocumentClass</key>
			<string>Document</string>
			<key>CPBundleTypeName</key>
			<string>CappDoc</string>
			<key>CFBundleTypeExtentions</key>
			<array>
				<string>cappdoc</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
