<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Apple</key>
	<dict>
		<key>Mode</key>
		<string>RGBA</string>
		<key>Names</key>
		<dict>
			<key>en</key>
			<dict>
				<key>red</key>
				<string>Red</string>
			</dict>
		</dict>
		<key>Keys</key>
		<array>
			<string>red</string>
		</array>
		<key>Colors</key>
		<dict>
			<key>red</key>
			<array>
				<integer>255</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>255</integer>
			</array>
		</dict>
	</dict>
	<key>Crayons</key>
	<dict>
		<key>Mode</key>
		<string>RGBA</string>
		<key>Names</key>
		<dict>
			<key>en</key>
			<dict>
				<key>orchid</key>
				<string>Orchid</string>
			</dict>
		</dict>
		<key>Keys</key>
		<array>
			<string>orchid</string>
		</array>
		<key>Colors</key>
		<dict>
			<key>orchid</key>
			<array>
				<integer>102</integer>
				<integer>102</integer>
				<integer>255</integer>
				<integer>255</integer>
			</array>
		</dict>
	</dict>
	<key>System</key>
	<dict>
		<key>Mode</key>
		<string>RGBA</string>
		<key>Names</key>
		<dict>
			<key>en</key>
			<dict>
				<key>alternateSelectedControlColor</key>
				<string>alternateSelectedControlColor</string>
			</dict>
		</dict>
		<key>Keys</key>
		<array>
			<string>alternateSelectedControlColor</string>
		</array>
		<key>Colors</key>
		<dict>
			<key>alternateSelectedControlColor</key>
			<array>
				<integer>42</integer>
				<integer>91</integer>
				<integer>213</integer>
				<integer>255</integer>
			</array>
		</dict>
	</dict>
</dict>
</plist>
