<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CPBundleIdentifier</key>
    <string>com.280n.AppKit</string>
    <key>CPBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CPBundleName</key>
    <string>AppKit</string>
    <key>CPBundlePackageType</key>
    <string>FMWK</string>
    <key>CPCompileIncludeFileArray</key>
        <array>
            <string>Platform/Platform.h</string>
            <string>Platform/DOM/CPDOMDisplayServer.h</string>
        </array>
    <key>CPFileTranslationDictionary</key>
        <dict>
            <key>_CPCibCustomObject.j</key>
            <string>Cib/_CPCibCustomObject.j</string>
            <key>_CPCibCustomView.j</key>
            <string>Cib/_CPCibCustomView.j</string>
            <key>CPCib.j</key>
            <string>Cib/CPCib.j</string>
            <key>_CPLocalizableString.j</key>
            <string>Cib/_CPLocalizableString.j</string>
            <key>CPCibConnector.j</key>
            <string>Cib/CPCibConnector.j</string>
            <key>CPCibHelpConnector.j</key>
            <string>Cib/CPCibHelpConnector.j</string>
            <key>_CPCibCustomResource.j</key>
            <string>Cib/_CPCibCustomResource.j</string>
            <key>_CPCibProxyObject.j</key>
            <string>Cib/_CPCibProxyObject.j</string>
            <key>_CPCibObjectData.j</key>
            <string>Cib/_CPCibObjectData.j</string>
            <key>CPCibLoading.j</key>
            <string>Cib/CPCibLoading.j</string>
            <key>_CPCibWindowTemplate.j</key>
            <string>Cib/_CPCibWindowTemplate.j</string>
            <key>CPCibRuntimeAttributesConnector.j</key>
            <string>Cib/CPCibRuntimeAttributesConnector.j</string>
            <key>_CPCibClassSwapper.j</key>
            <string>Cib/_CPCibClassSwapper.j</string>
            <key>CPCibControlConnector.j</key>
            <string>Cib/CPCibControlConnector.j</string>
            <key>CPCibOutletConnector.j</key>
            <string>Cib/CPCibOutletConnector.j</string>
            <key>_CPCibKeyedUnarchiver.j</key>
            <string>Cib/_CPCibKeyedUnarchiver.j</string>
            <key>CPCibBindingConnector.j</key>
            <string>Cib/CPCibBindingConnector.j</string>

            <key>_CPObjectAnimator.j</key>
            <string>CoreAnimation/_CPObjectAnimator.j</string>
            <key>CAAnimation.j</key>
            <string>CoreAnimation/CAAnimation.j</string>
            <key>CABackingStore.j</key>
            <string>CoreAnimation/CABackingStore.j</string>
            <key>CABasicAnimation.j</key>
            <string>CoreAnimation/CABasicAnimation.j</string>
            <key>CAFlashLayer.j</key>
            <string>CoreAnimation/CAFlashLayer.j</string>
            <key>CAKeyframeAnimation.j</key>
            <string>CoreAnimation/CAKeyframeAnimation.j</string>
            <key>CALayer.j</key>
            <string>CoreAnimation/CALayer.j</string>
            <key>CAMediaTimingFunction.j</key>
            <string>CoreAnimation/CAMediaTimingFunction.j</string>
            <key>CAPropertyAnimation.j</key>
            <string>CoreAnimation/CAPropertyAnimation.j</string>
            <key>CPAnimationContext.j</key>
            <string>CoreAnimation/CPAnimationContext.j</string>
            <key>CPViewAnimator.j</key>
            <string>CoreAnimation/CPViewAnimator.j</string>
            <key>CSSAnimation.j</key>
            <string>CoreAnimation/CSSAnimation.j</string>

            <key>CGGradient.j</key>
            <string>CoreGraphics/CGGradient.j</string>
            <key>CGContextText.j</key>
            <string>CoreGraphics/CGContextText.j</string>
            <key>CGAffineTransform.j</key>
            <string>CoreGraphics/CGAffineTransform.j</string>
            <key>CGColorSpace.j</key>
            <string>CoreGraphics/CGColorSpace.j</string>
            <key>CGContext.j</key>
            <string>CoreGraphics/CGContext.j</string>
            <key>CGGeometry.j</key>
            <string>CoreGraphics/CGGeometry.j</string>
            <key>CGContextVML.j</key>
            <string>CoreGraphics/CGContextVML.j</string>
            <key>CGPath.j</key>
            <string>CoreGraphics/CGPath.j</string>
            <key>CGContextCanvas.j</key>
            <string>CoreGraphics/CGContextCanvas.j</string>
            <key>CGColor.j</key>
            <string>CoreGraphics/CGColor.j</string>

            <key>_CPDatePickerCalendar.j</key>
            <string>CPDatePicker/_CPDatePickerCalendar.j</string>
            <key>_CPDatePickerTextField.j</key>
            <string>CPDatePicker/_CPDatePickerTextField.j</string>
            <key>_CPDatePickerClock.j</key>
            <string>CPDatePicker/_CPDatePickerClock.j</string>
            <key>CPDatePicker.j</key>
            <string>CPDatePicker/CPDatePicker.j</string>

            <key>_CPMenuWindow.j</key>
            <string>CPMenu/_CPMenuWindow.j</string>
            <key>CPMenu.j</key>
            <string>CPMenu/CPMenu.j</string>
            <key>_CPMenuManager.j</key>
            <string>CPMenu/_CPMenuManager.j</string>
            <key>_CPMenuBarWindow.j</key>
            <string>CPMenu/_CPMenuBarWindow.j</string>

            <key>CPMenuItem.j</key>
            <string>CPMenuItem/CPMenuItem.j</string>
            <key>_CPMenuItemView.j</key>
            <string>CPMenuItem/_CPMenuItemView.j</string>
            <key>_CPMenuItemStandardView.j</key>
            <string>CPMenuItem/_CPMenuItemStandardView.j</string>
            <key>_CPMenuItemSeparatorView.j</key>
            <string>CPMenuItem/_CPMenuItemSeparatorView.j</string>
            <key>_CPMenuItemMenuBarView.j</key>
            <string>CPMenuItem/_CPMenuItemMenuBarView.j</string>

            <key>_CPRuleEditorViewSliceRow.j</key>
            <string>CPRuleEditor/_CPRuleEditorViewSliceRow.j</string>
            <key>CPPredicateEditor.j</key>
            <string>CPRuleEditor/CPPredicateEditor.j</string>
            <key>CPRuleEditor.j</key>
            <string>CPRuleEditor/CPRuleEditor.j</string>
            <key>_CPRuleEditorLocalizer.j</key>
            <string>CPRuleEditor/_CPRuleEditorLocalizer.j</string>
            <key>CPPredicateEditorRowTemplate.j</key>
            <string>CPRuleEditor/CPPredicateEditorRowTemplate.j</string>
            <key>_CPRuleEditorViewSlice.j</key>
            <string>CPRuleEditor/_CPRuleEditorViewSlice.j</string>
            <key>CPRuleEditor_Constants.j</key>
            <string>CPRuleEditor/CPRuleEditor_Constants.j</string>
            <key>_CPPredicateEditorRowNode.j</key>
            <string>CPRuleEditor/_CPPredicateEditorRowNode.j</string>
            <key>_CPPredicateEditorTree.j</key>
            <string>CPRuleEditor/_CPPredicateEditorTree.j</string>

            <key>CPTextStorage.j</key>
            <string>CPTextView/CPTextStorage.j</string>
            <key>_CPRTFParser.j</key>
            <string>CPTextView/_CPRTFParser.j</string>
            <key>_CPRTFProducer.j</key>
            <string>CPTextView/_CPRTFProducer.j</string>
            <key>CPTextContainer.j</key>
            <string>CPTextView/CPTextContainer.j</string>
            <key>CPLayoutManager.j</key>
            <string>CPTextView/CPLayoutManager.j</string>
            <key>CPTextView.j</key>
            <string>CPTextView/CPTextView.j</string>
            <key>CPFontDescriptor.j</key>
            <string>CPTextView/CPFontDescriptor.j</string>
            <key>CPFontPanel.j</key>
            <string>CPTextView/CPFontPanel.j</string>
            <key>CPParagraphStyle.j</key>
            <string>CPTextView/CPParagraphStyle.j</string>
            <key>CPTypesetter.j</key>
            <string>CPTextView/CPTypesetter.j</string>

            <key>CPWindow_Constants.j</key>
            <string>CPWindow/CPWindow_Constants.j</string>
            <key>_CPStandardWindowView.j</key>
            <string>CPWindow/_CPStandardWindowView.j</string>
            <key>_CPShadowWindowView.j</key>
            <string>CPWindow/_CPShadowWindowView.j</string>
            <key>_CPToolTipWindowView.j</key>
            <string>CPWindow/_CPToolTipWindowView.j</string>
            <key>_CPBorderlessWindowView.j</key>
            <string>CPWindow/_CPBorderlessWindowView.j</string>
            <key>_CPBorderlessBridgeWindowView.j</key>
            <string>CPWindow/_CPBorderlessBridgeWindowView.j</string>
            <key>_CPDocModalWindowView.j</key>
            <string>CPWindow/_CPDocModalWindowView.j</string>
            <key>_CPModalWindowView.j</key>
            <string>CPWindow/_CPModalWindowView.j</string>
            <key>_CPPopoverWindowView.j</key>
            <string>CPWindow/_CPPopoverWindowView.j</string>
            <key>_CPWindowView.j</key>
            <string>CPWindow/_CPWindowView.j</string>
            <key>_CPTitleableWindowView.j</key>
            <string>CPWindow/_CPTitleableWindowView.j</string>
            <key>CPWindow.j</key>
            <string>CPWindow/CPWindow.j</string>
            <key>_CPHUDWindowView.j</key>
            <string>CPWindow/_CPHUDWindowView.j</string>

            <key>CPPlatform.j</key>
            <string>Platform/CPPlatform.j</string>
            <key>CPPlatformString.j</key>
            <string>Platform/CPPlatformString.j</string>
            <key>CPPlatformWindow.j</key>
            <string>Platform/CPPlatformWindow.j</string>
            <key>CPPlatformWindow+DOM.j</key>
            <string>Platform/DOM/CPPlatformWindow+DOM.j</string>
            <key>CPPlatformPasteboard.j</key>
            <string>Platform/DOM/CPPlatformPasteboard.j</string>
            <key>CPDOMWindowLayer.j</key>
            <string>Platform/DOM/CPDOMWindowLayer.j</string>
            <key>CPPlatformWindow+DOMKeys.j</key>
            <string>Platform/DOM/CPPlatformWindow+DOMKeys.j</string>

        </dict>
</dict>
</plist>
