[submodule "External/narwhal"]
	path = External/narwhal
	url = git://github.com/tlrobinson/narwhal.git
[submodule "External/browser.js"]
	path = External/browser.js
	url = git://github.com/tlrobinson/browser.js.git
[submodule "External/ojunit"]
	path = External/ojunit
	url = git://github.com/280north/ojunit.git
[submodule "External/jack"]
	path = External/jack
	url = git://github.com/tlrobinson/jack.git
