280NPLIST;1.0;D;K;23;Main cib file base nameS;12;MainMenu.cibK;12;CPBundleNameS;19;Cappuccino-TestbookK;15;CPBundleVersionS;26;0.9.10 (2018-05-19 0a542f)K;24;CPHumanReadableCopyrightS;44;Copyright © 2018, Army of Me, Inc.  LGPL-2.1K;29;CPBundleInfoDictionaryVersiond;1;6K;18;CPBundleIdentifierS;34;com.yourcompany.CappuccinoTestbookK;19;CPBundlePackageTypeS;4;APPLK;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;22;Cappuccino-Testbook.sjK;36;CPBundleEnvironmentsWithImageSpritesA;S;7;BrowserE;K;17;CPApplicationSizeD;K;10;executabled;7;7357308K;4;datad;6;502034K;5;mhtmld;6;623107E;E;