280NPLIST;1.0;D;K;18;CPBundleIdentifierS;15;com.280n.AppKitK;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;6;AppKitK;19;CPBundlePackageTypeS;4;FMWKK;15;CPBundleVersionS;5;1.3.1K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;9;AppKit.sjK;36;CPBundleEnvironmentsWithImageSpritesA;S;7;BrowserE;E;