<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>gbz@280abegu.pbz</string>
	<key>contactName</key>
	<string>Tom Robinson</string>
	<key>deleted</key>
	<array>
		<string>4689ADD7-C88A-4235-B69A-84C720034296</string>
	</array>
	<key>description</key>
	<string>&lt;a href="http://cappuccino.org/"&gt;Cappuccino&lt;/a&gt; is an open source framework that makes it easy to build desktop-caliber applications that run in a web browser.</string>
	<key>mainMenu</key>
	<dict>
		<key>excludedItems</key>
		<array>
			<string>CD025B3E-36B9-4E16-A81E-8DB6E8466CD1</string>
			<string>2D05A28A-2ED7-4A9A-9A5C-8625466BC77C</string>
		</array>
		<key>items</key>
		<array>
			<string>0C55A19B-3B2D-418F-B7FD-7E64B736F379</string>
			<string>36FD3695-1051-401E-8536-89FB9CEEEAB4</string>
			<string>033BC36A-97DA-4F48-9ACB-B58C80D1A689</string>
			<string>------------------------------------</string>
			<string>------------------------------------</string>
			<string>AF27A8B3-C87F-410A-915B-D83271FDDC00</string>
			<string>344244D8-67A3-4F23-8270-397BD1696AC4</string>
			<string>------------------------------------</string>
			<string>9BC0151E-82E8-4F2C-8AC1-7D4E6EC8FC80</string>
			<string>3ABE883F-3236-4876-91E0-E899F5DE9B29</string>
			<string>B226514A-4024-49EA-B4BD-4307C72F7EE3</string>
			<string>A4BB7CC7-B06B-4034-B125-A646A22C0813</string>
			<string>94B213AC-4DB1-400F-B78A-8FBCF3F93E44</string>
			<string>28C6F02F-13D0-4B5B-AB6A-6F23E2CFBD5B</string>
			<string>------------------------------------</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>28C6F02F-13D0-4B5B-AB6A-6F23E2CFBD5B</key>
			<dict>
				<key>items</key>
				<array>
					<string>C7340B17-F9EC-403F-9781-E2487023ED01</string>
				</array>
				<key>name</key>
				<string>UI</string>
			</dict>
			<key>3ABE883F-3236-4876-91E0-E899F5DE9B29</key>
			<dict>
				<key>items</key>
				<array>
					<string>AA41BEF8-5F81-4A5A-85DE-2E81A112778B</string>
					<string>85B0746B-AE1C-47B3-8B9A-2B9A95F4C71E</string>
					<string>0B3D4C4C-7D75-49E6-9CEC-E4BF4069223A</string>
				</array>
				<key>name</key>
				<string>Accessor Methods For</string>
			</dict>
			<key>94B213AC-4DB1-400F-B78A-8FBCF3F93E44</key>
			<dict>
				<key>items</key>
				<array>
					<string>13D9F280-A78F-4A4C-BE99-0DE13235738D</string>
					<string>DF55A80D-E733-4CE2-A318-D56789B18406</string>
				</array>
				<key>name</key>
				<string>Misc</string>
			</dict>
			<key>9BC0151E-82E8-4F2C-8AC1-7D4E6EC8FC80</key>
			<dict>
				<key>items</key>
				<array>
					<string>BE0553C0-B73B-4160-814C-840FC2B84C32</string>
					<string>686B995F-3183-418B-A15F-CA517DFEFE2E</string>
					<string>9BABD784-3DBE-4DA3-8A70-4E32FC7FDBB8</string>
					<string>------------------------------------</string>
					<string>96C39647-4346-4750-9F96-58070F24EDE6</string>
					<string>8C001067-8A50-4BAB-9A88-BA957A84E8CF</string>
					<string>A840A98A-0C5B-49CB-8235-2CCD1BF7AFC1</string>
				</array>
				<key>name</key>
				<string>Language Boilerplate</string>
			</dict>
			<key>A4BB7CC7-B06B-4034-B125-A646A22C0813</key>
			<dict>
				<key>items</key>
				<array>
					<string>D79EC699-9839-406E-AF60-DE51F78153CB</string>
					<string>3B5B858C-645E-499C-813B-BBEEED943E9B</string>
				</array>
				<key>name</key>
				<string>Idioms</string>
			</dict>
			<key>B226514A-4024-49EA-B4BD-4307C72F7EE3</key>
			<dict>
				<key>items</key>
				<array>
					<string>C268A928-5C8E-4284-9BAB-4FDFB07B983A</string>
					<string>F220FEE6-6522-4281-8091-CF8C66AED44F</string>
				</array>
				<key>name</key>
				<string>Common Method Calls</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>JavaScript Objective-J</string>
	<key>ordering</key>
	<array>
		<string>0C55A19B-3B2D-418F-B7FD-7E64B736F379</string>
		<string>36FD3695-1051-401E-8536-89FB9CEEEAB4</string>
		<string>033BC36A-97DA-4F48-9ACB-B58C80D1A689</string>
		<string>AF27A8B3-C87F-410A-915B-D83271FDDC00</string>
		<string>344244D8-67A3-4F23-8270-397BD1696AC4</string>
		<string>2D05A28A-2ED7-4A9A-9A5C-8625466BC77C</string>
		<string>BE0553C0-B73B-4160-814C-840FC2B84C32</string>
		<string>686B995F-3183-418B-A15F-CA517DFEFE2E</string>
		<string>9BABD784-3DBE-4DA3-8A70-4E32FC7FDBB8</string>
		<string>96C39647-4346-4750-9F96-58070F24EDE6</string>
		<string>8C001067-8A50-4BAB-9A88-BA957A84E8CF</string>
		<string>AA41BEF8-5F81-4A5A-85DE-2E81A112778B</string>
		<string>85B0746B-AE1C-47B3-8B9A-2B9A95F4C71E</string>
		<string>0B3D4C4C-7D75-49E6-9CEC-E4BF4069223A</string>
		<string>A840A98A-0C5B-49CB-8235-2CCD1BF7AFC1</string>
		<string>C268A928-5C8E-4284-9BAB-4FDFB07B983A</string>
		<string>F220FEE6-6522-4281-8091-CF8C66AED44F</string>
		<string>D79EC699-9839-406E-AF60-DE51F78153CB</string>
		<string>3B5B858C-645E-499C-813B-BBEEED943E9B</string>
		<string>C7340B17-F9EC-403F-9781-E2487023ED01</string>
		<string>13D9F280-A78F-4A4C-BE99-0DE13235738D</string>
		<string>CD025B3E-36B9-4E16-A81E-8DB6E8466CD1</string>
		<string>DF55A80D-E733-4CE2-A318-D56789B18406</string>
		<string>58D4B98A-2110-423E-9C80-CC9E202816E7</string>
		<string>E65A721C-192D-4BCC-AD35-5ED5CB0DA5BE</string>
	</array>
	<key>uuid</key>
	<string>1FB3D538-84E1-4002-AA46-5705529A27E1</string>
</dict>
</plist>
