<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CPBundleIdentifier</key>
	<string>com.280n.Foundation</string>
	<key>CPBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CPBundleName</key>
	<string>Foundation</string>
	<key>CPBundlePackageType</key>
	<string>FMWK</string>
    <key>CPFileTranslationDictionary</key>
        <dict>
			<key>_CPAggregateExpression.j</key>
			<string>CPPredicate/_CPAggregateExpression.j</string>
			<key>_CPSelfExpression.j</key>
			<string>CPPredicate/_CPSelfExpression.j</string>
			<key>_CPSubqueryExpression.j</key>
			<string>CPPredicate/_CPSubqueryExpression.j</string>
			<key>_CPConstantValueExpression.j</key>
			<string>CPPredicate/_CPConstantValueExpression.j</string>
			<key>CPCompoundPredicate_Constants.j</key>
			<string>CPPredicate/CPCompoundPredicate_Constants.j</string>
			<key>_CPSetExpression.j</key>
			<string>CPPredicate/_CPSetExpression.j</string>
			<key>CPCompoundPredicate.j</key>
			<string>CPPredicate/CPCompoundPredicate.j</string>
			<key>_CPKeyPathExpression.j</key>
			<string>CPPredicate/_CPKeyPathExpression.j</string>
			<key>CPComparisonPredicate.j</key>
			<string>CPPredicate/CPComparisonPredicate.j</string>
			<key>_CPPredicate.j</key>
			<string>CPPredicate/_CPPredicate.j</string>
			<key>_CPFunctionExpression.j</key>
			<string>CPPredicate/_CPFunctionExpression.j</string>
			<key>_CPExpression.j</key>
			<string>CPPredicate/_CPExpression.j</string>
			<key>CPExpression.j</key>
			<string>CPPredicate/CPExpression.j</string>
			<key>_CPBlockExpression.j</key>
			<string>CPPredicate/_CPBlockExpression.j</string>
			<key>_CPConditionalExpression.j</key>
			<string>CPPredicate/_CPConditionalExpression.j</string>
			<key>CPComparisonPredicate_Constants.j</key>
			<string>CPPredicate/CPComparisonPredicate_Constants.j</string>
			<key>CPPredicate.j</key>
			<string>CPPredicate/CPPredicate.j</string>
			<key>_CPVariableExpression.j</key>
			<string>CPPredicate/_CPVariableExpression.j</string>

			<key>_CPConcreteMutableSet.j</key>
			<string>CPSet/_CPConcreteMutableSet.j</string>
			<key>_CPSet.j</key>
			<string>CPSet/_CPSet.j</string>
			<key>CPSet.j</key>
			<string>CPSet/CPSet.j</string>
			<key>CPMutableSet.j</key>
			<string>CPSet/CPMutableSet.j</string>

            <key>_CPArray.j</key>
            <string>CPArray/_CPArray.j</string>
            <key>_CPJavaScriptArray.j</key>
            <string>CPArray/_CPJavaScriptArray.j</string>
            <key>CPArray.j</key>
            <string>CPArray/CPArray.j</string>
            <key>CPMutableArray.j</key>
            <string>CPArray/CPMutableArray.j</string>
        </dict>
</dict>
</plist>
