280NPLIST;1.0;D;K;18;CPBundleIdentifierS;19;com.280n.FoundationK;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;10;FoundationK;19;CPBundlePackageTypeS;4;FMWKK;15;CPBundleVersionS;5;1.3.1K;20;CPBundleEnvironmentsA;S;4;ObjJE;K;18;CPBundleExecutableS;13;Foundation.sjK;36;CPBundleEnvironmentsWithImageSpritesA;E;E;