// !$*UTF8*$!
{
	archiveVersion = 1;
	classes = {
	};
	objectVersion = 46;
	objects = {

/* Begin PBXBuildFile section */
		9EEC4498135749D200615446 /* Cocoa.framework in Frameworks */ = {isa = PBXBuildFile; fileRef = 9EEC4497135749D200615446 /* Cocoa.framework */; };
		9EEC44B5135749D300615446 /* Cocoa.framework in Frameworks */ = {isa = PBXBuildFile; fileRef = 9EEC4497135749D200615446 /* Cocoa.framework */; };
		9EEC44CC13574A0B00615446 /* ${CappuccinoProjectName} in Resources */ = {isa = PBXBuildFile; fileRef = 9EEC44CB13574A0B00615446 /* ${CappuccinoProjectName} */; };
/* End PBXBuildFile section */

/* Begin PBXContainerItemProxy section */
		9EEC44B6135749D300615446 /* PBXContainerItemProxy */ = {
			isa = PBXContainerItemProxy;
			containerPortal = 9EEC448A135749D200615446 /* Project object */;
			proxyType = 1;
			remoteGlobalIDString = 9EEC4492135749D200615446;
			remoteInfo = Another;
		};
/* End PBXContainerItemProxy section */

/* Begin PBXFileReference section */
		9EEC4493135749D200615446 /* Another.app */ = {isa = PBXFileReference; explicitFileType = wrapper.application; includeInIndex = 0; path = Another.app; sourceTree = BUILT_PRODUCTS_DIR; };
		9EEC4497135749D200615446 /* Cocoa.framework */ = {isa = PBXFileReference; lastKnownFileType = wrapper.framework; name = Cocoa.framework; path = System/Library/Frameworks/Cocoa.framework; sourceTree = SDKROOT; };
		9EEC449A135749D300615446 /* AppKit.framework */ = {isa = PBXFileReference; lastKnownFileType = wrapper.framework; name = AppKit.framework; path = System/Library/Frameworks/AppKit.framework; sourceTree = SDKROOT; };
		9EEC449B135749D300615446 /* CoreData.framework */ = {isa = PBXFileReference; lastKnownFileType = wrapper.framework; name = CoreData.framework; path = System/Library/Frameworks/CoreData.framework; sourceTree = SDKROOT; };
		9EEC449C135749D300615446 /* Foundation.framework */ = {isa = PBXFileReference; lastKnownFileType = wrapper.framework; name = Foundation.framework; path = System/Library/Frameworks/Foundation.framework; sourceTree = SDKROOT; };
		9EEC44B4135749D300615446 /* AnotherTests.octest */ = {isa = PBXFileReference; explicitFileType = wrapper.cfbundle; includeInIndex = 0; path = AnotherTests.octest; sourceTree = BUILT_PRODUCTS_DIR; };
		9EEC44CB13574A0B00615446 /* ${CappuccinoProjectName} */ = {isa = PBXFileReference; lastKnownFileType = folder; name = ${CappuccinoProjectName}; path = ${CappuccinoProjectRelativePath}; sourceTree = "<group>"; };
/* End PBXFileReference section */

/* Begin PBXFrameworksBuildPhase section */
		9EEC4490135749D200615446 /* Frameworks */ = {
			isa = PBXFrameworksBuildPhase;
			buildActionMask = 2147483647;
			files = (
				9EEC4498135749D200615446 /* Cocoa.framework in Frameworks */,
			);
			runOnlyForDeploymentPostprocessing = 0;
		};
		9EEC44B0135749D300615446 /* Frameworks */ = {
			isa = PBXFrameworksBuildPhase;
			buildActionMask = 2147483647;
			files = (
				9EEC44B5135749D300615446 /* Cocoa.framework in Frameworks */,
			);
			runOnlyForDeploymentPostprocessing = 0;
		};
/* End PBXFrameworksBuildPhase section */

/* Begin PBXGroup section */
		9EEC4488135749D200615446 = {
			isa = PBXGroup;
			children = (
				9EEC44CB13574A0B00615446 /* ${CappuccinoProjectName} */,
				9EEC4496135749D200615446 /* Frameworks */,
				9EEC4494135749D200615446 /* Products */,
			);
			sourceTree = "<group>";
		};
		9EEC4494135749D200615446 /* Products */ = {
			isa = PBXGroup;
			children = (
				9EEC4493135749D200615446 /* Another.app */,
				9EEC44B4135749D300615446 /* AnotherTests.octest */,
			);
			name = Products;
			sourceTree = "<group>";
		};
		9EEC4496135749D200615446 /* Frameworks */ = {
			isa = PBXGroup;
			children = (
				9EEC4497135749D200615446 /* Cocoa.framework */,
				9EEC4499135749D300615446 /* Other Frameworks */,
			);
			name = Frameworks;
			sourceTree = "<group>";
		};
		9EEC4499135749D300615446 /* Other Frameworks */ = {
			isa = PBXGroup;
			children = (
				9EEC449A135749D300615446 /* AppKit.framework */,
				9EEC449B135749D300615446 /* CoreData.framework */,
				9EEC449C135749D300615446 /* Foundation.framework */,
			);
			name = "Other Frameworks";
			sourceTree = "<group>";
		};
/* End PBXGroup section */

/* Begin PBXNativeTarget section */
		9EEC4492135749D200615446 /* Another */ = {
			isa = PBXNativeTarget;
			buildConfigurationList = 9EEC44C5135749D300615446 /* Build configuration list for PBXNativeTarget "Another" */;
			buildPhases = (
				9EEC448F135749D200615446 /* Sources */,
				9EEC4490135749D200615446 /* Frameworks */,
				9EEC4491135749D200615446 /* Resources */,
			);
			buildRules = (
			);
			dependencies = (
			);
			name = Another;
			productName = Another;
			productReference = 9EEC4493135749D200615446 /* Another.app */;
			productType = "com.apple.product-type.application";
		};
		9EEC44B3135749D300615446 /* AnotherTests */ = {
			isa = PBXNativeTarget;
			buildConfigurationList = 9EEC44C8135749D300615446 /* Build configuration list for PBXNativeTarget "AnotherTests" */;
			buildPhases = (
				9EEC44AF135749D300615446 /* Sources */,
				9EEC44B0135749D300615446 /* Frameworks */,
				9EEC44B1135749D300615446 /* Resources */,
				9EEC44B2135749D300615446 /* ShellScript */,
			);
			buildRules = (
			);
			dependencies = (
				9EEC44B7135749D300615446 /* PBXTargetDependency */,
			);
			name = AnotherTests;
			productName = AnotherTests;
			productReference = 9EEC44B4135749D300615446 /* AnotherTests.octest */;
			productType = "com.apple.product-type.bundle";
		};
/* End PBXNativeTarget section */

/* Begin PBXProject section */
		9EEC448A135749D200615446 /* Project object */ = {
			isa = PBXProject;
			attributes = {
				ORGANIZATIONNAME = "280 North, Inc.";
			};
			buildConfigurationList = 9EEC448D135749D200615446 /* Build configuration list for PBXProject "Another" */;
			compatibilityVersion = "Xcode 3.2";
			developmentRegion = English;
			hasScannedForEncodings = 0;
			knownRegions = (
				en,
			);
			mainGroup = 9EEC4488135749D200615446;
			productRefGroup = 9EEC4494135749D200615446 /* Products */;
			projectDirPath = "";
			projectRoot = "";
			targets = (
				9EEC4492135749D200615446 /* Another */,
				9EEC44B3135749D300615446 /* AnotherTests */,
			);
		};
/* End PBXProject section */

/* Begin PBXResourcesBuildPhase section */
		9EEC4491135749D200615446 /* Resources */ = {
			isa = PBXResourcesBuildPhase;
			buildActionMask = 2147483647;
			files = (
				9EEC44CC13574A0B00615446 /* ${CappuccinoProjectName} in Resources */,
			);
			runOnlyForDeploymentPostprocessing = 0;
		};
		9EEC44B1135749D300615446 /* Resources */ = {
			isa = PBXResourcesBuildPhase;
			buildActionMask = 2147483647;
			files = (
			);
			runOnlyForDeploymentPostprocessing = 0;
		};
/* End PBXResourcesBuildPhase section */

/* Begin PBXShellScriptBuildPhase section */
		9EEC44B2135749D300615446 /* ShellScript */ = {
			isa = PBXShellScriptBuildPhase;
			buildActionMask = 2147483647;
			files = (
			);
			inputPaths = (
			);
			outputPaths = (
			);
			runOnlyForDeploymentPostprocessing = 0;
			shellPath = /bin/sh;
			shellScript = "# Run the unit tests in this test bundle.\n\"${SYSTEM_DEVELOPER_DIR}/Tools/RunUnitTests\"\n";
		};
/* End PBXShellScriptBuildPhase section */

/* Begin PBXSourcesBuildPhase section */
		9EEC448F135749D200615446 /* Sources */ = {
			isa = PBXSourcesBuildPhase;
			buildActionMask = 2147483647;
			files = (
			);
			runOnlyForDeploymentPostprocessing = 0;
		};
		9EEC44AF135749D300615446 /* Sources */ = {
			isa = PBXSourcesBuildPhase;
			buildActionMask = 2147483647;
			files = (
			);
			runOnlyForDeploymentPostprocessing = 0;
		};
/* End PBXSourcesBuildPhase section */

/* Begin PBXTargetDependency section */
		9EEC44B7135749D300615446 /* PBXTargetDependency */ = {
			isa = PBXTargetDependency;
			target = 9EEC4492135749D200615446 /* Another */;
			targetProxy = 9EEC44B6135749D300615446 /* PBXContainerItemProxy */;
		};
/* End PBXTargetDependency section */

/* Begin XCBuildConfiguration section */
		9EEC44C3135749D300615446 /* Debug */ = {
			isa = XCBuildConfiguration;
			buildSettings = {
				ARCHS = "$(ARCHS_STANDARD_32_64_BIT)";
				GCC_C_LANGUAGE_STANDARD = gnu99;
				GCC_OPTIMIZATION_LEVEL = 0;
				GCC_PREPROCESSOR_DEFINITIONS = DEBUG;
				GCC_SYMBOLS_PRIVATE_EXTERN = NO;
				GCC_VERSION = com.apple.compilers.llvm.clang.1_0;
				GCC_WARN_64_TO_32_BIT_CONVERSION = YES;
				GCC_WARN_ABOUT_RETURN_TYPE = YES;
				GCC_WARN_UNUSED_VARIABLE = YES;
				MACOSX_DEPLOYMENT_TARGET = 10.6;
				ONLY_ACTIVE_ARCH = YES;
				SDKROOT = macosx;
			};
			name = Debug;
		};
		9EEC44C4135749D300615446 /* Release */ = {
			isa = XCBuildConfiguration;
			buildSettings = {
				ARCHS = "$(ARCHS_STANDARD_32_64_BIT)";
				GCC_C_LANGUAGE_STANDARD = gnu99;
				GCC_VERSION = com.apple.compilers.llvm.clang.1_0;
				GCC_WARN_64_TO_32_BIT_CONVERSION = YES;
				GCC_WARN_ABOUT_RETURN_TYPE = YES;
				GCC_WARN_UNUSED_VARIABLE = YES;
				MACOSX_DEPLOYMENT_TARGET = 10.6;
				SDKROOT = macosx;
			};
			name = Release;
		};
		9EEC44C6135749D300615446 /* Debug */ = {
			isa = XCBuildConfiguration;
			buildSettings = {
				ALWAYS_SEARCH_USER_PATHS = NO;
				COPY_PHASE_STRIP = NO;
				GCC_DYNAMIC_NO_PIC = NO;
				GCC_ENABLE_OBJC_EXCEPTIONS = YES;
				GCC_PRECOMPILE_PREFIX_HEADER = YES;
				GCC_PREFIX_HEADER = "Another/Another-Prefix.pch";
				INFOPLIST_FILE = "Another/Another-Info.plist";
				PRODUCT_NAME = "$(TARGET_NAME)";
				WRAPPER_EXTENSION = app;
			};
			name = Debug;
		};
		9EEC44C7135749D300615446 /* Release */ = {
			isa = XCBuildConfiguration;
			buildSettings = {
				ALWAYS_SEARCH_USER_PATHS = NO;
				COPY_PHASE_STRIP = YES;
				DEBUG_INFORMATION_FORMAT = "dwarf-with-dsym";
				GCC_ENABLE_OBJC_EXCEPTIONS = YES;
				GCC_PRECOMPILE_PREFIX_HEADER = YES;
				GCC_PREFIX_HEADER = "Another/Another-Prefix.pch";
				INFOPLIST_FILE = "Another/Another-Info.plist";
				PRODUCT_NAME = "$(TARGET_NAME)";
				WRAPPER_EXTENSION = app;
			};
			name = Release;
		};
		9EEC44C9135749D300615446 /* Debug */ = {
			isa = XCBuildConfiguration;
			buildSettings = {
				ALWAYS_SEARCH_USER_PATHS = NO;
				BUNDLE_LOADER = "$(BUILT_PRODUCTS_DIR)/Another.app/Contents/MacOS/Another";
				COPY_PHASE_STRIP = NO;
				FRAMEWORK_SEARCH_PATHS = "$(DEVELOPER_LIBRARY_DIR)/Frameworks";
				GCC_DYNAMIC_NO_PIC = NO;
				GCC_ENABLE_OBJC_EXCEPTIONS = YES;
				GCC_PRECOMPILE_PREFIX_HEADER = YES;
				GCC_PREFIX_HEADER = "AnotherTests/AnotherTests-Prefix.pch";
				INFOPLIST_FILE = "AnotherTests/AnotherTests-Info.plist";
				OTHER_LDFLAGS = (
					"-framework",
					SenTestingKit,
				);
				PRODUCT_NAME = "$(TARGET_NAME)";
				TEST_HOST = "$(BUNDLE_LOADER)";
				WRAPPER_EXTENSION = octest;
			};
			name = Debug;
		};
		9EEC44CA135749D300615446 /* Release */ = {
			isa = XCBuildConfiguration;
			buildSettings = {
				ALWAYS_SEARCH_USER_PATHS = NO;
				BUNDLE_LOADER = "$(BUILT_PRODUCTS_DIR)/Another.app/Contents/MacOS/Another";
				COPY_PHASE_STRIP = YES;
				DEBUG_INFORMATION_FORMAT = "dwarf-with-dsym";
				FRAMEWORK_SEARCH_PATHS = "$(DEVELOPER_LIBRARY_DIR)/Frameworks";
				GCC_ENABLE_OBJC_EXCEPTIONS = YES;
				GCC_PRECOMPILE_PREFIX_HEADER = YES;
				GCC_PREFIX_HEADER = "AnotherTests/AnotherTests-Prefix.pch";
				INFOPLIST_FILE = "AnotherTests/AnotherTests-Info.plist";
				OTHER_LDFLAGS = (
					"-framework",
					SenTestingKit,
				);
				PRODUCT_NAME = "$(TARGET_NAME)";
				TEST_HOST = "$(BUNDLE_LOADER)";
				WRAPPER_EXTENSION = octest;
			};
			name = Release;
		};
/* End XCBuildConfiguration section */

/* Begin XCConfigurationList section */
		9EEC448D135749D200615446 /* Build configuration list for PBXProject "Another" */ = {
			isa = XCConfigurationList;
			buildConfigurations = (
				9EEC44C3135749D300615446 /* Debug */,
				9EEC44C4135749D300615446 /* Release */,
			);
			defaultConfigurationIsVisible = 0;
			defaultConfigurationName = Release;
		};
		9EEC44C5135749D300615446 /* Build configuration list for PBXNativeTarget "Another" */ = {
			isa = XCConfigurationList;
			buildConfigurations = (
				9EEC44C6135749D300615446 /* Debug */,
				9EEC44C7135749D300615446 /* Release */,
			);
			defaultConfigurationIsVisible = 0;
		};
		9EEC44C8135749D300615446 /* Build configuration list for PBXNativeTarget "AnotherTests" */ = {
			isa = XCConfigurationList;
			buildConfigurations = (
				9EEC44C9135749D300615446 /* Debug */,
				9EEC44CA135749D300615446 /* Release */,
			);
			defaultConfigurationIsVisible = 0;
		};
/* End XCConfigurationList section */
	};
	rootObject = 9EEC448A135749D200615446 /* Project object */;
}