<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
			<key>show</key>
			<true/>
			<key>image</key>
			<string>brad.jpg</string>
			<key>identifier</key>
			<string>person</string>
			<key>name</key>
			<string>Brad</string>
			<key>value</key>
			<string>EDITABLE TEXT</string>
	</dict>
	<dict>
			<key>show</key>
			<true/>
			<key>slider</key>
			<integer>10</integer>
			<key>identifier</key>
			<string>place</string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>Petrograd</string>
			<key>value</key>
			<string>EDITABLE TEXT</string>
	</dict>
	<dict>
			<key>show</key>
			<true/>
			<key>identifier</key>
			<string>person</string>
			<key>image</key>
			<string>georges.jpg</string>
			<key>name</key>
			<string>Georges</string>
			<key>value</key>
			<string>EDITABLE TEXT</string>
	</dict>
	<dict>
			<key>show</key>
			<true/>
			<key>identifier</key>
			<string>multiple</string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>Brad</string>
			<key>value</key>
			<string>EDITABLE TEXT</string>
	</dict>
	<dict>
			<key>show</key>
			<true/>
			<key>identifier</key>
			<string>person</string>
			<key>image</key>
			<string>john.jpg</string>
			<key>name</key>
			<string>John</string>
			<key>value</key>
			<string>EDITABLE TEXT</string>
	</dict>
	<dict>
			<key>show</key>
			<true/>
			<key>slider</key>
			<integer>10</integer>
			<key>identifier</key>
			<string>place</string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>Brad</string>
			<key>value</key>
			<string>EDITABLE TEXT</string>
	</dict>
	<dict>
			<key>show</key>
			<true/>
			<key>slider</key>
			<integer>10</integer>
			<key>identifier</key>
			<string>place</string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>Robert</string>
			<key>value</key>
			<string>EDITABLE TEXT</string>
	</dict>
	<dict>
			<key>show</key>
			<true/>
			<key>identifier</key>
			<string>person</string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>Albert</string>
			<key>value</key>
			<string>EDITABLE TEXT</string>
	</dict>
	<dict>
			<key>show</key>
			<true/>
			<key>identifier</key>
			<string>person</string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>Melissa</string>
			<key>value</key>
			<string>EDITABLE TEXT</string>
	</dict>
	<dict>
			<key>identifier</key>
			<string>multiple</string>
			<key>image</key>
			<string>john.jpg</string>
			<key>name</key>
			<string>John</string>
			<key>value</key>
			<string>EDITABLE TEXT</string>
	</dict>
	<dict>
			<key>image</key>
			<string>brad.jpg</string>
			<key>identifier</key>
			<string>person</string>
			<key>name</key>
			<string>Brad</string>
			<key>value</key>
			<string>EDITABLE TEXT</string>
	</dict>
	<dict>
			<key>slider</key>
			<integer>5</integer>
			<key>identifier</key>
			<string>place</string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>Petrograd</string>
			<key>value</key>
			<string>EDITABLE TEXT</string>
	</dict>
	<dict>
			<key>identifier</key>
			<string>person</string>
			<key>image</key>
			<string>georges.jpg</string>
			<key>name</key>
			<string>Georges</string>
			<key>value</key>
			<string>EDITABLE TEXT</string>
	</dict>
	<dict>
			<key>identifier</key>
			<string>multiple</string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>Brad</string>
			<key>value</key>
			<string>EDITABLE TEXT</string>
	</dict>
	<dict>
			<key>identifier</key>
			<string>person</string>
			<key>image</key>
			<string>john.jpg</string>
			<key>name</key>
			<string>John</string>
			<key>value</key>
			<string>EDITABLE TEXT</string>
	</dict>
	<dict>
			<key>slider</key>
			<integer>15</integer>
			<key>identifier</key>
			<string>place</string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>Brad</string>
			<key>value</key>
			<string>EDITABLE TEXT</string>
	</dict>
	<dict>
			<key>identifier</key>
			<string>place</string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>Robert</string>
			<key>value</key>
			<string>EDITABLE TEXT</string>
	</dict>
	<dict>
			<key>identifier</key>
			<string>person</string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>Albert</string>
			<key>value</key>
			<string>EDITABLE TEXT</string>
	</dict>
	<dict>
			<key>identifier</key>
			<string>person</string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string>Melissa</string>
			<key>value</key>
			<string>EDITABLE TEXT</string>
	</dict>
	<dict>
			<key>identifier</key>
			<string>multiple</string>
			<key>image</key>
			<string>john.jpg</string>
			<key>name</key>
			<string>John</string>
			<key>value</key>
			<string>EDITABLE TEXT</string>
	</dict>
</array>
</plist>
