<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>$archiver</key>
	<string>NSKeyedArchiver</string>
	<key>$objects</key>
	<array>
		<string>$null</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>132</integer>
			</dict>
			<key>NSAccessibilityConnectors</key>
			<dict>
				<key>CF$UID</key>
				<integer>129</integer>
			</dict>
			<key>NSAccessibilityOidsKeys</key>
			<dict>
				<key>CF$UID</key>
				<integer>130</integer>
			</dict>
			<key>NSAccessibilityOidsValues</key>
			<dict>
				<key>CF$UID</key>
				<integer>131</integer>
			</dict>
			<key>NSClassesKeys</key>
			<dict>
				<key>CF$UID</key>
				<integer>106</integer>
			</dict>
			<key>NSClassesValues</key>
			<dict>
				<key>CF$UID</key>
				<integer>107</integer>
			</dict>
			<key>NSConnections</key>
			<dict>
				<key>CF$UID</key>
				<integer>75</integer>
			</dict>
			<key>NSFontManager</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>NSFramework</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
			<key>NSNamesKeys</key>
			<dict>
				<key>CF$UID</key>
				<integer>91</integer>
			</dict>
			<key>NSNamesValues</key>
			<dict>
				<key>CF$UID</key>
				<integer>92</integer>
			</dict>
			<key>NSNextOid</key>
			<integer>514</integer>
			<key>NSObjectsKeys</key>
			<dict>
				<key>CF$UID</key>
				<integer>87</integer>
			</dict>
			<key>NSObjectsValues</key>
			<dict>
				<key>CF$UID</key>
				<integer>90</integer>
			</dict>
			<key>NSOidsKeys</key>
			<dict>
				<key>CF$UID</key>
				<integer>108</integer>
			</dict>
			<key>NSOidsValues</key>
			<dict>
				<key>CF$UID</key>
				<integer>109</integer>
			</dict>
			<key>NSRoot</key>
			<dict>
				<key>CF$UID</key>
				<integer>2</integer>
			</dict>
			<key>NSVisibleWindows</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>NSClassName</key>
			<dict>
				<key>CF$UID</key>
				<integer>3</integer>
			</dict>
		</dict>
		<string>NSApplication</string>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSCustomObject</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSCustomObject</string>
		</dict>
		<string>IBCocoaFramework</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>74</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>7</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>73</integer>
			</dict>
			<key>NSMaxSize</key>
			<dict>
				<key>CF$UID</key>
				<integer>72</integer>
			</dict>
			<key>NSScreenRect</key>
			<dict>
				<key>CF$UID</key>
				<integer>71</integer>
			</dict>
			<key>NSViewClass</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>NSWTFlags</key>
			<integer>1946157056</integer>
			<key>NSWindowBacking</key>
			<integer>2</integer>
			<key>NSWindowClass</key>
			<dict>
				<key>CF$UID</key>
				<integer>10</integer>
			</dict>
			<key>NSWindowRect</key>
			<dict>
				<key>CF$UID</key>
				<integer>8</integer>
			</dict>
			<key>NSWindowStyleMask</key>
			<integer>7</integer>
			<key>NSWindowTitle</key>
			<dict>
				<key>CF$UID</key>
				<integer>9</integer>
			</dict>
			<key>NSWindowView</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
		</dict>
		<string>{{335, 486}, {237, 264}}</string>
		<string>Window</string>
		<string>NSWindow</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>70</integer>
			</dict>
			<key>NSFrameSize</key>
			<dict>
				<key>CF$UID</key>
				<integer>69</integer>
			</dict>
			<key>NSNextResponder</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>NSSubviews</key>
			<dict>
				<key>CF$UID</key>
				<integer>12</integer>
			</dict>
			<key>NSvFlags</key>
			<integer>256</integer>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>28</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>52</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>51</integer>
			</dict>
			<key>NSBackgroundColor</key>
			<dict>
				<key>CF$UID</key>
				<integer>46</integer>
			</dict>
			<key>NSCellBackgroundColor</key>
			<dict>
				<key>CF$UID</key>
				<integer>50</integer>
			</dict>
			<key>NSCellClass</key>
			<dict>
				<key>CF$UID</key>
				<integer>31</integer>
			</dict>
			<key>NSCellSize</key>
			<dict>
				<key>CF$UID</key>
				<integer>29</integer>
			</dict>
			<key>NSCells</key>
			<dict>
				<key>CF$UID</key>
				<integer>15</integer>
			</dict>
			<key>NSEnabled</key>
			<true/>
			<key>NSFont</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
			<key>NSFrame</key>
			<dict>
				<key>CF$UID</key>
				<integer>14</integer>
			</dict>
			<key>NSIntercellSpacing</key>
			<dict>
				<key>CF$UID</key>
				<integer>30</integer>
			</dict>
			<key>NSMatrixFlags</key>
			<integer>1151868928</integer>
			<key>NSNextResponder</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSNumCols</key>
			<integer>2</integer>
			<key>NSNumRows</key>
			<integer>1</integer>
			<key>NSProtoCell</key>
			<dict>
				<key>CF$UID</key>
				<integer>32</integer>
			</dict>
			<key>NSSelectedCell</key>
			<dict>
				<key>CF$UID</key>
				<integer>16</integer>
			</dict>
			<key>NSSuperview</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSvFlags</key>
			<integer>268</integer>
		</dict>
		<string>{{50, 186}, {126, 18}}</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>28</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>16</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>26</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>25</integer>
			</dict>
			<key>NSAlternateContents</key>
			<dict>
				<key>CF$UID</key>
				<integer>24</integer>
			</dict>
			<key>NSAlternateImage</key>
			<dict>
				<key>CF$UID</key>
				<integer>21</integer>
			</dict>
			<key>NSButtonFlags</key>
			<integer>1211912703</integer>
			<key>NSButtonFlags2</key>
			<integer>0</integer>
			<key>NSCellFlags</key>
			<integer>-2080244224</integer>
			<key>NSCellFlags2</key>
			<integer>0</integer>
			<key>NSContents</key>
			<dict>
				<key>CF$UID</key>
				<integer>17</integer>
			</dict>
			<key>NSControlView</key>
			<dict>
				<key>CF$UID</key>
				<integer>13</integer>
			</dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>CF$UID</key>
				<integer>24</integer>
			</dict>
			<key>NSPeriodicDelay</key>
			<integer>200</integer>
			<key>NSPeriodicInterval</key>
			<integer>25</integer>
			<key>NSSupport</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
			<key>NSTag</key>
			<integer>1</integer>
		</dict>
		<string>one</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>20</integer>
			</dict>
			<key>NSName</key>
			<dict>
				<key>CF$UID</key>
				<integer>19</integer>
			</dict>
			<key>NSSize</key>
			<real>13</real>
			<key>NSfFlags</key>
			<integer>1044</integer>
		</dict>
		<string>LucidaGrande</string>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSFont</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSFont</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>23</integer>
			</dict>
			<key>NSImageName</key>
			<dict>
				<key>CF$UID</key>
				<integer>22</integer>
			</dict>
		</dict>
		<string>NSRadioButton</string>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSButtonImageSource</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSButtonImageSource</string>
		</dict>
		<string></string>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSButtonCell</string>
				<string>NSActionCell</string>
				<string>NSCell</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSButtonCell</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>25</integer>
			</dict>
			<key>NSAlternateImage</key>
			<dict>
				<key>CF$UID</key>
				<integer>21</integer>
			</dict>
			<key>NSButtonFlags</key>
			<integer>1211912703</integer>
			<key>NSButtonFlags2</key>
			<integer>0</integer>
			<key>NSCellFlags</key>
			<integer>67239424</integer>
			<key>NSCellFlags2</key>
			<integer>0</integer>
			<key>NSContents</key>
			<dict>
				<key>CF$UID</key>
				<integer>27</integer>
			</dict>
			<key>NSControlView</key>
			<dict>
				<key>CF$UID</key>
				<integer>13</integer>
			</dict>
			<key>NSPeriodicDelay</key>
			<integer>400</integer>
			<key>NSPeriodicInterval</key>
			<integer>75</integer>
			<key>NSSupport</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
		</dict>
		<string>two</string>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSMutableArray</string>
				<string>NSArray</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSMutableArray</string>
		</dict>
		<string>{61, 18}</string>
		<string>{4, 2}</string>
		<string>NSActionCell</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>25</integer>
			</dict>
			<key>NSAlternateImage</key>
			<dict>
				<key>CF$UID</key>
				<integer>21</integer>
			</dict>
			<key>NSButtonFlags</key>
			<integer>1211912703</integer>
			<key>NSButtonFlags2</key>
			<integer>0</integer>
			<key>NSCellFlags</key>
			<integer>67239424</integer>
			<key>NSCellFlags2</key>
			<integer>0</integer>
			<key>NSContents</key>
			<dict>
				<key>CF$UID</key>
				<integer>33</integer>
			</dict>
			<key>NSNormalImage</key>
			<dict>
				<key>CF$UID</key>
				<integer>34</integer>
			</dict>
			<key>NSPeriodicDelay</key>
			<integer>400</integer>
			<key>NSPeriodicInterval</key>
			<integer>75</integer>
			<key>NSSupport</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
		</dict>
		<string>Radio</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>45</integer>
			</dict>
			<key>NSColor</key>
			<dict>
				<key>CF$UID</key>
				<integer>43</integer>
			</dict>
			<key>NSImageFlags</key>
			<integer>549453824</integer>
			<key>NSReps</key>
			<dict>
				<key>CF$UID</key>
				<integer>36</integer>
			</dict>
			<key>NSSize</key>
			<dict>
				<key>CF$UID</key>
				<integer>35</integer>
			</dict>
		</dict>
		<string>{18, 18}</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>28</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>37</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>42</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>38</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>39</integer>
				</dict>
			</array>
		</dict>
		<integer>0</integer>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>41</integer>
			</dict>
			<key>NSTIFFRepresentation</key>
			<dict>
				<key>CF$UID</key>
				<integer>40</integer>
			</dict>
		</dict>
		<data>
		TU0AKgAABRgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwAAAAMA
		AAADAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAwAAADwRERGLJycnySsrK/A1NTXwIyMjyRwcHIsJCQk8AAAA
		AwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFFRUVdVBQUOCoqKj/
		29vb//n5+f/6+vr/2tra/6qqqv9UVFTgHx8fdQAAAAUAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAUZGRl5dXV198PDw//8/Pz/////////////////////////
		///U1NT/fHx89yUlJXkAAAAFAAAAAAAAAAAAAAAAAAAAAxEREUZqamrmtbW1
		/+3t7f/+/v7//v7+//7+/v/9/f3//f39//39/f/39/f/xMTE/3d3d+YZGRlG
		AAAAAwAAAAAAAAAAAAAACkJCQqGtra3/xsbG/+vr6//y8vL/9fX1//X19f/z
		8/P/9fX1//Ly8v/u7u7/0tLS/6+vr/9KSkqhAAAACgAAAAAAAAAAAAAAF3h4
		eN2/v7//z8/P/93d3f/q6ur/7+/v/+/v7//w8PD/7e3t/+3t7f/i4uL/zs7O
		/8XFxf98fHzdAAAAFwAAAAAAAAADAAAAJKSkpPjOzs7/2dnZ/+Dg4P/i4uL/
		5eXl/+bm5v/n5+f/5eXl/+Li4v/e3t7/2tra/9DQ0P+srKz4AAAAJAAAAAMA
		AAADAAAALrCwsPrW1tb/3t7e/+Tk5P/p6en/6+vr/+zs7P/p6en/6+vr/+fn
		5//k5OT/4ODg/9nZ2f+zs7P6AAAALgAAAAMAAAADAAAALp2dnezg4OD/5eXl
		/+rq6v/u7u7/8PDw//Dw8P/x8fH/8PDw/+7u7v/q6ur/5ubm/+Hh4f+ZmZns
		AAAALgAAAAMAAAADAAAAJG5ubs/l5eX/6enp/+/v7//y8vL/9vb2//r6+v/5
		+fn/9/f3//b29v/x8fH/6+vr/+Tk5P9ra2vPAAAAJAAAAAMAAAAAAAAAFy4u
		LpPCwsL67Ozs//Pz8//5+fn//v7+//7+/v/+/v7//v7+//v7+//19fX/8PDw
		/8LCwvosLCyTAAAAFwAAAAAAAAAAAAAACgAAAENfX1/S5OTk/vn5+f/+/v7/
		///////////////////////////8/Pz/5ubm/l9fX9IAAABDAAAACgAAAAAA
		AAAAAAAAAwAAABcAAABlYmJi3NLS0v3/////////////////////////////
		///V1dX9ZGRk3AAAAGUAAAAXAAAAAwAAAAAAAAAAAAAAAAAAAAUAAAAfAAAA
		ZTMzM8KAgIDwv7+//O3t7f/t7e3/v7+//ICAgPAzMzPCAAAAZQAAAB8AAAAF
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFAAAAFwAAAEMAAAB3AAAAnwAAALMA
		AACzAAAAnwAAAHcAAABDAAAAFwAAAAUAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAwAAAAoAAAAXAAAAJAAAAC4AAAAuAAAAJAAAABcAAAAKAAAA
		AwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAwAAAAMAAAADAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		DQEAAAMAAAABABIAAAEBAAMAAAABABIAAAECAAMAAAAEAAAFugEDAAMAAAAB
		AAEAAAEGAAMAAAABAAIAAAERAAQAAAABAAAACAESAAMAAAABAAEAAAEVAAMA
		AAABAAQAAAEWAAMAAAABABIAAAEXAAQAAAABAAAFEAEcAAMAAAABAAEAAAFS
		AAMAAAABAAEAAAFTAAMAAAAEAAAFwgAAAAAACAAIAAgACAABAAEAAQAB
		</data>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSBitmapImageRep</string>
				<string>NSImageRep</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSBitmapImageRep</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSArray</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSArray</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>44</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>3</integer>
			<key>NSWhite</key>
			<data>
			MCAwAA==
			</data>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSColor</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSColor</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSImage</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSImage</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>44</integer>
			</dict>
			<key>NSCatalogName</key>
			<dict>
				<key>CF$UID</key>
				<integer>47</integer>
			</dict>
			<key>NSColor</key>
			<dict>
				<key>CF$UID</key>
				<integer>49</integer>
			</dict>
			<key>NSColorName</key>
			<dict>
				<key>CF$UID</key>
				<integer>48</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>6</integer>
		</dict>
		<string>System</string>
		<string>controlColor</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>44</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>3</integer>
			<key>NSWhite</key>
			<data>
			MC42NjY2NjY2NjY3AA==
			</data>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>44</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>3</integer>
			<key>NSWhite</key>
			<data>
			MQA=
			</data>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSMatrix</string>
				<string>NSControl</string>
				<string>NSView</string>
				<string>NSResponder</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSMatrix</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>51</integer>
			</dict>
			<key>NSBackgroundColor</key>
			<dict>
				<key>CF$UID</key>
				<integer>46</integer>
			</dict>
			<key>NSCellBackgroundColor</key>
			<dict>
				<key>CF$UID</key>
				<integer>50</integer>
			</dict>
			<key>NSCellClass</key>
			<dict>
				<key>CF$UID</key>
				<integer>61</integer>
			</dict>
			<key>NSCellSize</key>
			<dict>
				<key>CF$UID</key>
				<integer>59</integer>
			</dict>
			<key>NSCells</key>
			<dict>
				<key>CF$UID</key>
				<integer>54</integer>
			</dict>
			<key>NSEnabled</key>
			<true/>
			<key>NSFont</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
			<key>NSFrame</key>
			<dict>
				<key>CF$UID</key>
				<integer>53</integer>
			</dict>
			<key>NSIntercellSpacing</key>
			<dict>
				<key>CF$UID</key>
				<integer>60</integer>
			</dict>
			<key>NSMatrixFlags</key>
			<integer>1151868928</integer>
			<key>NSNextResponder</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSNumCols</key>
			<integer>2</integer>
			<key>NSNumRows</key>
			<integer>1</integer>
			<key>NSProtoCell</key>
			<dict>
				<key>CF$UID</key>
				<integer>62</integer>
			</dict>
			<key>NSSelectedCell</key>
			<dict>
				<key>CF$UID</key>
				<integer>57</integer>
			</dict>
			<key>NSSelectedCol</key>
			<integer>1</integer>
			<key>NSSuperview</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
			<key>NSvFlags</key>
			<integer>268</integer>
		</dict>
		<string>{{50, 150}, {126, 18}}</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>28</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>55</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>57</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>25</integer>
			</dict>
			<key>NSAlternateContents</key>
			<dict>
				<key>CF$UID</key>
				<integer>24</integer>
			</dict>
			<key>NSAlternateImage</key>
			<dict>
				<key>CF$UID</key>
				<integer>21</integer>
			</dict>
			<key>NSButtonFlags</key>
			<integer>1211912703</integer>
			<key>NSButtonFlags2</key>
			<integer>0</integer>
			<key>NSCellFlags</key>
			<integer>67239424</integer>
			<key>NSCellFlags2</key>
			<integer>0</integer>
			<key>NSContents</key>
			<dict>
				<key>CF$UID</key>
				<integer>56</integer>
			</dict>
			<key>NSControlView</key>
			<dict>
				<key>CF$UID</key>
				<integer>52</integer>
			</dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>CF$UID</key>
				<integer>24</integer>
			</dict>
			<key>NSPeriodicDelay</key>
			<integer>200</integer>
			<key>NSPeriodicInterval</key>
			<integer>25</integer>
			<key>NSSupport</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
			<key>NSTag</key>
			<integer>1</integer>
		</dict>
		<string>three</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>25</integer>
			</dict>
			<key>NSAlternateImage</key>
			<dict>
				<key>CF$UID</key>
				<integer>21</integer>
			</dict>
			<key>NSButtonFlags</key>
			<integer>1211912703</integer>
			<key>NSButtonFlags2</key>
			<integer>0</integer>
			<key>NSCellFlags</key>
			<integer>-2080244224</integer>
			<key>NSCellFlags2</key>
			<integer>0</integer>
			<key>NSContents</key>
			<dict>
				<key>CF$UID</key>
				<integer>58</integer>
			</dict>
			<key>NSControlView</key>
			<dict>
				<key>CF$UID</key>
				<integer>52</integer>
			</dict>
			<key>NSPeriodicDelay</key>
			<integer>400</integer>
			<key>NSPeriodicInterval</key>
			<integer>75</integer>
			<key>NSSupport</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
		</dict>
		<string>four</string>
		<string>{61, 18}</string>
		<string>{4, 2}</string>
		<string>NSActionCell</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>25</integer>
			</dict>
			<key>NSAlternateImage</key>
			<dict>
				<key>CF$UID</key>
				<integer>21</integer>
			</dict>
			<key>NSButtonFlags</key>
			<integer>1211912703</integer>
			<key>NSButtonFlags2</key>
			<integer>0</integer>
			<key>NSCellFlags</key>
			<integer>67239424</integer>
			<key>NSCellFlags2</key>
			<integer>0</integer>
			<key>NSContents</key>
			<dict>
				<key>CF$UID</key>
				<integer>33</integer>
			</dict>
			<key>NSNormalImage</key>
			<dict>
				<key>CF$UID</key>
				<integer>63</integer>
			</dict>
			<key>NSPeriodicDelay</key>
			<integer>400</integer>
			<key>NSPeriodicInterval</key>
			<integer>75</integer>
			<key>NSSupport</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>45</integer>
			</dict>
			<key>NSColor</key>
			<dict>
				<key>CF$UID</key>
				<integer>43</integer>
			</dict>
			<key>NSImageFlags</key>
			<integer>549453824</integer>
			<key>NSReps</key>
			<dict>
				<key>CF$UID</key>
				<integer>65</integer>
			</dict>
			<key>NSSize</key>
			<dict>
				<key>CF$UID</key>
				<integer>64</integer>
			</dict>
		</dict>
		<string>{18, 18}</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>28</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>66</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>42</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>38</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>67</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>41</integer>
			</dict>
			<key>NSTIFFRepresentation</key>
			<dict>
				<key>CF$UID</key>
				<integer>68</integer>
			</dict>
		</dict>
		<data>
		TU0AKgAABRgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwAAAAMA
		AAADAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAwAAADwRERGLJycnySsrK/A1NTXwIyMjyRwcHIsJCQk8AAAA
		AwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFFRUVdVBQUOCoqKj/
		29vb//n5+f/6+vr/2tra/6qqqv9UVFTgHx8fdQAAAAUAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAUZGRl5dXV198PDw//8/Pz/////////////////////////
		///U1NT/fHx89yUlJXkAAAAFAAAAAAAAAAAAAAAAAAAAAxEREUZqamrmtbW1
		/+3t7f/+/v7//v7+//7+/v/9/f3//f39//39/f/39/f/xMTE/3d3d+YZGRlG
		AAAAAwAAAAAAAAAAAAAACkJCQqGtra3/xsbG/+vr6//y8vL/9fX1//X19f/z
		8/P/9fX1//Ly8v/u7u7/0tLS/6+vr/9KSkqhAAAACgAAAAAAAAAAAAAAF3h4
		eN2/v7//z8/P/93d3f/q6ur/7+/v/+/v7//w8PD/7e3t/+3t7f/i4uL/zs7O
		/8XFxf98fHzdAAAAFwAAAAAAAAADAAAAJKSkpPjOzs7/2dnZ/+Dg4P/i4uL/
		5eXl/+bm5v/n5+f/5eXl/+Li4v/e3t7/2tra/9DQ0P+srKz4AAAAJAAAAAMA
		AAADAAAALrCwsPrW1tb/3t7e/+Tk5P/p6en/6+vr/+zs7P/p6en/6+vr/+fn
		5//k5OT/4ODg/9nZ2f+zs7P6AAAALgAAAAMAAAADAAAALp2dnezg4OD/5eXl
		/+rq6v/u7u7/8PDw//Dw8P/x8fH/8PDw/+7u7v/q6ur/5ubm/+Hh4f+ZmZns
		AAAALgAAAAMAAAADAAAAJG5ubs/l5eX/6enp/+/v7//y8vL/9vb2//r6+v/5
		+fn/9/f3//b29v/x8fH/6+vr/+Tk5P9ra2vPAAAAJAAAAAMAAAAAAAAAFy4u
		LpPCwsL67Ozs//Pz8//5+fn//v7+//7+/v/+/v7//v7+//v7+//19fX/8PDw
		/8LCwvosLCyTAAAAFwAAAAAAAAAAAAAACgAAAENfX1/S5OTk/vn5+f/+/v7/
		///////////////////////////8/Pz/5ubm/l9fX9IAAABDAAAACgAAAAAA
		AAAAAAAAAwAAABcAAABlYmJi3NLS0v3/////////////////////////////
		///V1dX9ZGRk3AAAAGUAAAAXAAAAAwAAAAAAAAAAAAAAAAAAAAUAAAAfAAAA
		ZTMzM8KAgIDwv7+//O3t7f/t7e3/v7+//ICAgPAzMzPCAAAAZQAAAB8AAAAF
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFAAAAFwAAAEMAAAB3AAAAnwAAALMA
		AACzAAAAnwAAAHcAAABDAAAAFwAAAAUAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAwAAAAoAAAAXAAAAJAAAAC4AAAAuAAAAJAAAABcAAAAKAAAA
		AwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAwAAAAMAAAADAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		DQEAAAMAAAABABIAAAEBAAMAAAABABIAAAECAAMAAAAEAAAFugEDAAMAAAAB
		AAEAAAEGAAMAAAABAAIAAAERAAQAAAABAAAACAESAAMAAAABAAEAAAEVAAMA
		AAABAAQAAAEWAAMAAAABABIAAAEXAAQAAAABAAAFEAEcAAMAAAABAAEAAAFS
		AAMAAAABAAEAAAFTAAMAAAAEAAAFwgAAAAAACAAIAAgACAABAAEAAQAB
		</data>
		<string>{237, 264}</string>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSView</string>
				<string>NSResponder</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSView</string>
		</dict>
		<string>{{0, 0}, {1440, 878}}</string>
		<string>{1e+13, 1e+13}</string>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSWindowTemplate</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSWindowTemplate</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSMutableSet</string>
				<string>NSSet</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSMutableSet</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>28</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>76</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>81</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>82</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>83</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>85</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>86</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>80</integer>
			</dict>
			<key>NSDestination</key>
			<dict>
				<key>CF$UID</key>
				<integer>77</integer>
			</dict>
			<key>NSLabel</key>
			<dict>
				<key>CF$UID</key>
				<integer>79</integer>
			</dict>
			<key>NSSource</key>
			<dict>
				<key>CF$UID</key>
				<integer>2</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>NSClassName</key>
			<dict>
				<key>CF$UID</key>
				<integer>78</integer>
			</dict>
		</dict>
		<string>AppController</string>
		<string>delegate</string>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSNibOutletConnector</string>
				<string>NSNibConnector</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSNibOutletConnector</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>80</integer>
			</dict>
			<key>NSDestination</key>
			<dict>
				<key>CF$UID</key>
				<integer>57</integer>
			</dict>
			<key>NSLabel</key>
			<dict>
				<key>CF$UID</key>
				<integer>58</integer>
			</dict>
			<key>NSSource</key>
			<dict>
				<key>CF$UID</key>
				<integer>77</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>80</integer>
			</dict>
			<key>NSDestination</key>
			<dict>
				<key>CF$UID</key>
				<integer>16</integer>
			</dict>
			<key>NSLabel</key>
			<dict>
				<key>CF$UID</key>
				<integer>17</integer>
			</dict>
			<key>NSSource</key>
			<dict>
				<key>CF$UID</key>
				<integer>77</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>80</integer>
			</dict>
			<key>NSDestination</key>
			<dict>
				<key>CF$UID</key>
				<integer>7</integer>
			</dict>
			<key>NSLabel</key>
			<dict>
				<key>CF$UID</key>
				<integer>84</integer>
			</dict>
			<key>NSSource</key>
			<dict>
				<key>CF$UID</key>
				<integer>77</integer>
			</dict>
		</dict>
		<string>theWindow</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>80</integer>
			</dict>
			<key>NSDestination</key>
			<dict>
				<key>CF$UID</key>
				<integer>55</integer>
			</dict>
			<key>NSLabel</key>
			<dict>
				<key>CF$UID</key>
				<integer>56</integer>
			</dict>
			<key>NSSource</key>
			<dict>
				<key>CF$UID</key>
				<integer>77</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>80</integer>
			</dict>
			<key>NSDestination</key>
			<dict>
				<key>CF$UID</key>
				<integer>26</integer>
			</dict>
			<key>NSLabel</key>
			<dict>
				<key>CF$UID</key>
				<integer>27</integer>
			</dict>
			<key>NSSource</key>
			<dict>
				<key>CF$UID</key>
				<integer>77</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>42</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>16</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>88</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>77</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>57</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>55</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>52</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>32</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>62</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>26</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>11</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
			<key>NSClassName</key>
			<dict>
				<key>CF$UID</key>
				<integer>89</integer>
			</dict>
		</dict>
		<string>NSApplication</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>42</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>52</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>52</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>11</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>52</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>11</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>7</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>42</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>11</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>77</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>88</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>57</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>55</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>52</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>32</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>62</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>26</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>16</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>42</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>93</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>94</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>95</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>96</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>97</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>98</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>99</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>100</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>101</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>102</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>103</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>104</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>105</integer>
				</dict>
			</array>
		</dict>
		<string>11</string>
		<string>2</string>
		<string>1</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
		<string>7</string>
		<string>8</string>
		<string>9</string>
		<string>File's Owner</string>
		<string>10</string>
		<string>0</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>42</integer>
			</dict>
			<key>NS.objects</key>
			<array/>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>42</integer>
			</dict>
			<key>NS.objects</key>
			<array/>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>42</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>16</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>81</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>88</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>77</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>86</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>83</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>57</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>85</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>62</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>52</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>32</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>55</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>76</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>82</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>13</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>26</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>11</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>42</integer>
			</dict>
			<key>NS.objects</key>
			<array>
				<dict>
					<key>CF$UID</key>
					<integer>110</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>111</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>112</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>113</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>114</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>115</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>116</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>117</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>118</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>119</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>120</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>121</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>122</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>123</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>124</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>125</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>126</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>127</integer>
				</dict>
				<dict>
					<key>CF$UID</key>
					<integer>128</integer>
				</dict>
			</array>
		</dict>
		<integer>495</integer>
		<integer>508</integer>
		<integer>-3</integer>
		<integer>450</integer>
		<integer>506</integer>
		<integer>459</integer>
		<integer>500</integer>
		<integer>507</integer>
		<integer>501</integer>
		<integer>499</integer>
		<integer>497</integer>
		<integer>371</integer>
		<integer>502</integer>
		<integer>451</integer>
		<integer>505</integer>
		<integer>494</integer>
		<integer>498</integer>
		<integer>513</integer>
		<integer>372</integer>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>28</integer>
			</dict>
			<key>NS.objects</key>
			<array/>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>42</integer>
			</dict>
			<key>NS.objects</key>
			<array/>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>42</integer>
			</dict>
			<key>NS.objects</key>
			<array/>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSIBObjectData</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSIBObjectData</string>
		</dict>
	</array>
	<key>$top</key>
	<dict>
		<key>IB.objectdata</key>
		<dict>
			<key>CF$UID</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>$version</key>
	<integer>100000</integer>
</dict>
</plist>
