//
//  Debug.xcconfig
//  XcodeCapp
//
//  Created by Aparajita on 4/18/13.
//
//

//:configuration = Debug
ARCHS = $(ARCHS_STANDARD_64_BIT)
SDKROOT = macosx
ONLY_ACTIVE_ARCH = YES
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
COMBINE_HIDPI_IMAGES = YES
INSTALL_PATH = $(LOCAL_APPS_DIR)
MACOSX_DEPLOYMENT_TARGET = 10.6.8
COPY_PHASE_STRIP = NO
INFOPLIST_FILE = XcodeCapp/Info.plist
PRODUCT_NAME = XcodeCapp
ALWAYS_SEARCH_USER_PATHS = NO
FRAMEWORK_SEARCH_PATHS = $(inherited) "$(SRCROOT)/XcodeCapp"
GCC_OPTIMIZATION_LEVEL = 0
CLANG_ENABLE_OBJC_ARC = YES
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = XcodeCapp/XcodeCapp-Prefix.pch
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES
WRAPPER_EXTENSION = app
GCC_C_LANGUAGE_STANDARD = gnu99
CLANG_CXX_LANGUAGE_STANDARD = gnu++0x
CLANG_CXX_LIBRARY = libc++
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_WARN_UNUSED_VARIABLE = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
