<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns = "http://www.w3.org/1999/xhtml" xml:lang = "en" lang = "en">
<!--
//
//  index.html
//  __Product__
//
//  Created by __Me__ on __Date__.
//  Copyright 2008 __MyCompanyName__. All rights reserved.
//
-->
    <head>

        <title>Hello World</title>

        <script type = "text/javascript">
            OBJJ_MAIN_FILE = "main.j";
        </script>
        
        <script src = "Frameworks/Objective-J/Objective-J.js" type = "text/javascript"></script>


    </head>

    <body>
        <div style="position: absolute; left: 50%; top: 50%;">
            <center>
                <script type = "text/javascript">
                    document.write("<img src = \"Frameworks/AppKit/Resources/CPProgressIndicator/CPProgressIndicatorSpinningStyleRegular.gif\" style=\"left: -32px; position: relative; top: -32px;\" />");
                </script>
                
                <noscript>
                    <div style="width: 500px; height: 300px; background-color: #eeeeee; left: -250px; top: -150px; position: relative; text-align: left; -moz-border-radius: 20px; -webkit-border-radius: 20px; color: #555555">
                        <p style="padding: 25px;">
                            Javascript is required for this site to work correctly but is either disabled or not supported by your browser.
                            <br/><br/><br/>
                            
                            You can fix this problem by doing one of the following:
                            <ul style="margin-top: -30px">
                                <li>Enable Javascript (<a href="http://www.google.com/search?q=enable+javascript">show me how</a>)</li>
                                <li>Download a more recent version of a major browser
                                    <ul>
                                        <li><a href="http://www.google.com/chrome/">Chrome</a></li>
                                        <li><a href="http://www.apple.com/safari/download/">Safari</a></li>
                                        <li><a href="http://www.mozilla.com/en-US/firefox/">Firefox</a></li>
                                        <li><a href="http://www.opera.com/download/">Opera</a></li>
                                        <li><a href="http://www.microsoft.com/windows/downloads/ie/getitnow.mspx">Internet Explorer</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </p>
                    </div>
                </noscript>
            </center>
        </div>
    </body>
    
</html>

