<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rootHeaders</key>
	<dict>
		<key>subrows</key>
		<array>
			<dict>
				<key>CPRuleEditorPredicateCompoundType</key>
				<integer>2</integer>
				<key>criteria</key>
				<array>
					<dict>
						<key>valeur</key>
						<string>of the following is true</string>
					</dict>
				</array>
				<key>valeur</key>
				<string>Any</string>
			</dict>
			<dict>
				<key>CPRuleEditorPredicateCompoundType</key>
				<integer>1</integer>
				<key>criteria</key>
				<array>
					<dict>
						<key>valeur</key>
						<string>of the following is true</string>
					</dict>
				</array>
				<key>valeur</key>
				<string>All</string>
			</dict>
		</array>
	</dict>
	<key>rootChildren</key>
	<dict>
		<key>subrows</key>
		<array>
			<dict>
				<key>CPRuleEditorPredicateLeftExpression</key>
				<string>firstName</string>
				<key>criteria</key>
				<array>
					<dict>
						<key>CPRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>CPRuleEditorPredicateOperatorType</key>
						<integer>8</integer>
						<key>CPRuleEditorPredicateOptions</key>
						<integer>3</integer>
						<key>criteria</key>
						<array>
							<dict>
								<key>CPRuleEditorCustomControlClass</key>
								<string>RuleTextField</string>
							</dict>
						</array>
						<key>valeur</key>
						<string>CPBeginsWithPredicateOperatorType</string>
					</dict>
					<dict>
						<key>CPRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>CPRuleEditorPredicateOperatorType</key>
						<integer>7</integer>
						<key>CPRuleEditorPredicateOptions</key>
						<integer>3</integer>
						<key>criteria</key>
						<array>
							<dict>
								<key>CPRuleEditorCustomControlClass</key>
								<string>RuleTextField</string>
							</dict>
						</array>
						<key>valeur</key>
						<string>CPLikePredicateOperatorType</string>
					</dict>
					<dict>
						<key>CPRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>CPRuleEditorPredicateOperatorType</key>
						<integer>6</integer>
						<key>CPRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>criteria</key>
						<array>
							<dict>
								<key>CPRuleEditorCustomControlClass</key>
								<string>RuleTextField</string>
							</dict>
						</array>
						<key>valeur</key>
						<string>CPMatchesPredicateOperatorType</string>
					</dict>
				</array>
				<key>valeur</key>
				<string>firstName</string>
			</dict>
			<dict>
				<key>CPRuleEditorPredicateLeftExpression</key>
				<string>lastName</string>
				<key>criteria</key>
				<array>
					<dict>
						<key>CPRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>CPRuleEditorPredicateOperatorType</key>
						<integer>8</integer>
						<key>CPRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>criteria</key>
						<array>
							<dict>
								<key>CPRuleEditorCustomControlClass</key>
								<string>RuleTextField</string>
							</dict>
						</array>
						<key>valeur</key>
						<string>CPBeginsWithPredicateOperatorType</string>
					</dict>
					<dict>
						<key>CPRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>CPRuleEditorPredicateOperatorType</key>
						<integer>9</integer>
						<key>CPRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>criteria</key>
						<array>
							<dict>
								<key>CPRuleEditorCustomControlClass</key>
								<string>RuleTextField</string>
							</dict>
						</array>
						<key>valeur</key>
						<string>CPEndsWithPredicateOperatorType</string>
					</dict>
				</array>
				<key>valeur</key>
				<string>lastName</string>
			</dict>
			<dict>
				<key>CPRuleEditorPredicateLeftExpression</key>
				<string>age</string>
				<key>criteria</key>
				<array>
					<dict>
						<key>CPRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>CPRuleEditorPredicateOperatorType</key>
						<integer>0</integer>
						<key>CPRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>criteria</key>
						<array>
							<dict>
								<key>CPRuleEditorCustomControlClass</key>
								<string>RuleSlider</string>
							</dict>
						</array>
						<key>valeur</key>
						<string>CPLessThanPredicateOperatorType</string>
					</dict>
					<dict>
						<key>CPRuleEditorPredicateComparisonModifier</key>
						<integer>0</integer>
						<key>CPRuleEditorPredicateOperatorType</key>
						<integer>3</integer>
						<key>CPRuleEditorPredicateOptions</key>
						<integer>0</integer>
						<key>criteria</key>
						<array>
							<dict>
								<key>CPRuleEditorPredicateRightExpression</key>
								<integer>50</integer>
								<key>valeur</key>
								<string>50 ans</string>
							</dict>
						</array>
						<key>valeur</key>
						<string>CPGreaterThanOrEqualToPredicateOperatorType</string>
					</dict>
				</array>
				<key>valeur</key>
				<string>age</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
